<div class="app-shell">
  <header class="app-header">
    <p-menubar [model]="menuItems" [attr.aria-label]="t('mainNavigation')">
      <ng-template #start>
        <p-select
          inputId="dashboard-select"
          class="dashboard-select"
          [options]="dashboardOptions()"
          [ngModel]="activeDashboardId()"
          (ngModelChange)="navigateToDashboard($event)"
          optionLabel="label"
          optionValue="id"
          [ariaLabel]="t('dashboardSelector')"
        >
          <ng-template #selectedItem let-dashboard>
            <div class="dashboard-option">
              <i [class]="dashboard.icon" aria-hidden="true"></i><span>{{ dashboard.label }}</span>
            </div>
          </ng-template>
          <ng-template #item let-dashboard>
            <div class="dashboard-option">
              <i [class]="dashboard.icon" aria-hidden="true"></i><span>{{ dashboard.label }}</span>
            </div>
          </ng-template>
        </p-select>
      </ng-template>

      <ng-template #end>
        <div class="header-actions">
          @if (activeDashboardId() === 'videos') {
            <app-video-search />
          }
          @if (showsLayoutSettings()) {
            <p-tieredmenu #layoutMenu [model]="layoutMenuItems()" [popup]="true" appendTo="body" />
            <p-button
              data-testid="layout-edit-toggle"
              severity="secondary"
              [text]="true"
              [outlined]="activeDashboardId() === 'management' && layout.editing()"
              [rounded]="true"
              icon="pi pi-cog"
              [attr.aria-label]="layoutButtonLabel()"
              [pTooltip]="layoutButtonLabel()"
              tooltipPosition="bottom"
              (onClick)="layoutMenu.toggle($event)"
            />
          }
          <p-button
            severity="secondary"
            [text]="true"
            [rounded]="true"
            [label]="languageLabel()"
            [attr.aria-label]="t('changeLanguage')"
            [pTooltip]="t('changeLanguage')"
            tooltipPosition="bottom"
            (onClick)="toggleLanguage()"
          />
          <p-button
            severity="secondary"
            [text]="true"
            [rounded]="true"
            [icon]="themeIcon()"
            [attr.aria-label]="t('toggleTheme')"
            [pTooltip]="t('toggleTheme')"
            tooltipPosition="bottom"
            (onClick)="toggleTheme()"
          />
        </div>
      </ng-template>
    </p-menubar>
  </header>
  <main class="app-content"><router-outlet /></main>
</div>
